In [164]:
name='Gaurav'
Name='baghel'
print(name)
print(Name)

Gaurav
baghel

In [165]:
x=99
y=23
x+y

122

In [166]:
age=35
if age>=30:
    print(age)
print("age is",age)

35
age is 35

In [167]:
print(f"My age is {age} years")

My age is 35 years

In [168]:
total = 1 + 2 + 3 + 9 + 7 + 7 + 7 + \
4+5+6
print(total)

51

In [169]:
x=5;y=67;z=x+y
z

72

In [170]:
age = 32.9
name = "Sachin"
print(type(age))
print(type(name))

<class 'float'>
<class 'str'>

#2nd sheet defining variables

In [171]:
age = 6; height = 4.1; name = "tony";stu=True
print("age :", age)
print("Height:", height,type(height))
print("Name:", name,type(name))
print(type(stu))

age : 6
Height: 4.1 <class 'float'>
Name: tony <class 'str'>
<class 'bool'>

In [172]:
age = 25
print(type(age))

age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [173]:
name=str(input("What is your name?"))
print("Your name is ",name)

What is your name?gaurav
Your name is  gaurav

In [174]:
age=int(input("Enter Your Age"))
print(age)

Enter Your Age32
32

In [175]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 34
Enter second number: 23
Sum: 57.0
Difference: 11.0
Product: 782.0
Quotient: 1.4782608695652173

In [176]:
age = 35
print(type(age))
height = 5.11
print(height)
print(type(height))

<class 'int'>
5.11
<class 'float'>

In [177]:
name="Gaurav"
print(name)
print(type(name))

Gaurav
<class 'str'>

In [178]:
t=True
print(type(t))

<class 'bool'>

In [179]:
a=10
b=11
type(a==b)

bool

In [180]:
a="hello"*5
print(a,type(a))

hellohellohellohellohello <class 'str'>

In [181]:
b="hello"+str(10)
print(b)

hello10

In [182]:
 a = 10
 b = 5
add= a+b
sub= a-b
mult= a*b
div= a/b
floor= a//b
modulus= a%b
exponent= a**b
print(add)
print(sub)
print(mult)
print(div)
print(floor)
print(modulus)
print(exponent)

15
5
50
2.0
2
0
100000

In [183]:
 a = 10
 b = 5
 print(a+b)
 print(a-b)
 print(a/b)

15
5
2.0

In [184]:
 a = 10
 b = 10.1
 a == b

False

In [185]:
 str1 = "Aman"
 str2 = "Aman"
 print(str1 == str2)
 print(str1!=str2)

True
False

In [186]:
x=True
y=True
r=x and y
print(r)

True

In [187]:
x=False
y=True
r=x and y
print(r)

False

In [188]:
x=False
y=False
print(x and y)

False

In [189]:
x=False
print(not x)

True

In [190]:
age=15
if age>=18:
    print("you can vote")
else:
    print("you can't vote")

you can't vote

In [191]:
age=int(input("Enter your age:"))
if age<=13:
    print("child")
elif age>13 and age<25:
    print("medium age ")
else:
    print("Adult person")

Enter your age:24
medium age

In [192]:
 num = 42
 if num%2==0:
    print("Even")
 else:
    print("Odd")

Even

In [193]:
a=int(input("enter your number"))
if a>0:
    print("+ve")
    if a%2==0:
        print("even +ve number")
    else :
        print("odd +ve number")
else:
    print("0 or -ve number")

enter your number34
+ve
even +ve number

In [194]:
year=int(input("enter Your Year"))
if year%4==0:
    if year%100:
        if year%400:
            print("Its a leap year")
        else:
            print("Not a leap year")
    else:
        print("Not a leap year")
else:
    print("Not a leap year")

enter Your Year1234
Not a leap year

In [195]:
 num1 = float(input("Enter first number: "))
 num2 = float(input("Enter second number: "))
 operation = input("Enter operation (+, -, *, /): ")

 if operation == '+':
    result = num1 + num2
 elif operation == '-':
    result = num1 - num2
 elif operation == '*':
    result = num1 * num2
 elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero."
 else:
    result = "Invalid operation."
 print("Result:", result)

Enter first number: 12
Enter second number: 23
Enter operation (+, -, *, /): *
Result: 276.0

In [196]:
age=int(input("Enter your age:"))
is_stu=str(input("Are you  student?(Y or N)")).lower()
if age<5:
    price=free
elif age<=12:
    price='$12'
elif age<=17:
    if is_stu=='y':
        price='$14'
    else:
        price='$15'
elif age<=64:
    if is_stu=='y':
        price='$24'
    else:
        price='$29'
else:
    price='$50'
print("Ticket Price is", price)

Enter your age:23
Are you  student?(Y or N)Y
Ticket Price is $24

In [197]:
stored_u='gaurav0507'
stored_password='baghel05'
input_u=str(input("Enter your username:"))
input_password=str(input("Enter your password:"))
if input_u==stored_u:
    if input_password==stored_password:
        print("login successfull")
    else:
        print("password incorrect")
else:
    print("No user found")

Enter your username:gaurav0507
Enter your password:baghel05
login successfull

#Loops

In [198]:
range(5)
range(0, 5)
for i in range(0,5):
    print(i)

0
1
2
3
4

In [199]:
for i in range(0,5):
    print("Gaurav",i)

Gaurav 0
Gaurav 1
Gaurav 2
Gaurav 3
Gaurav 4

In [200]:
for i in range(1,10,-1):
    print(i)
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [201]:
name ="Gaurav"
for i in name:
    print(i)

G
a
u
r
a
v

In [202]:
 count=0
 while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [203]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [204]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [205]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [206]:
 n=10
 sum=0
 count=1
 while count<=n:
    sum=sum+count
    count=count+1
 print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [207]:
n=10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [208]:
n=int(input("Enter any number:"))
for i in range(1,11):
    print(f"{n}*{i}={n*i}")

Enter any number:3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [209]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#List

In [219]:
fruits=["apple", "banana","cherry","kiwi","gauva"]

print(fruits[0])
print(fruits[1])
print(fruits[4])
print(fruits[-1])

apple
banana
gauva
gauva

In [211]:
fruits[0:4]
print(fruits[1:])
print(fruits[1:3])
print(fruits[:3])
print(fruits[:])
print(fruits[::-1])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'kiwi', 'gauva']
['gauva', 'kiwi', 'cherry', 'banana', 'apple']

In [212]:
fruits[1]

'banana'

In [213]:
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [214]:
fruits[1:] = "watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [215]:
fruits[1:3] = "watermelon"
fruits

['apple',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n']

In [216]:
fruits.append("orange")
fruits

['apple',
 'w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'orange']

In [225]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'cherry', 'banana', 'kiwi']

In [220]:
fruits.remove("banana")
fruits

['apple', 'cherry', 'kiwi', 'gauva']

In [221]:
 popped_fruits=fruits.pop()
 print(fruits)
 print(popped_fruits)

['apple', 'cherry', 'kiwi']
gauva

In [222]:
index=fruits.index("cherry")
print(index)

1

In [223]:
fruits.insert(2,"banana")
fruits

['apple', 'cherry', 'banana', 'kiwi']

In [224]:
print(fruits.count("banana"))

1

In [226]:
fruits.append("avocado")
fruits.sort()
fruits

['apple', 'avocado', 'banana', 'cherry', 'kiwi', 'watermelon']

In [229]:
fruits.reverse()
fruits

[]

In [230]:
fruits.clear()
fruits

[]

In [231]:
x=[i for i in range(1,11)]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [232]:
for number in x:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [233]:
for index, number in enumerate(x):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [234]:
x.count(2)

1

In [235]:
len(x)

10

In [236]:
lst=[]
for x in range(1,11,2):
   lst.append(x**2)
print(lst)

[1, 9, 25, 49, 81]

#Tuple

In [237]:
 empty_tuple=()
 print(empty_tuple)
 print(type(empty_tuple))

()
<class 'tuple'>

In [238]:
tpl=tuple()
print(type(tpl))

<class 'tuple'>

In [239]:
 tpl1 = (1,2,3,4,5)
 print(type(tpl1))

<class 'tuple'>

In [240]:
 lst = [1,2,3,4,5]
 lst

[1, 2, 3, 4, 5]

In [241]:
numbers=tuple(lst)
numbers

(1, 2, 3, 4, 5)

In [242]:
list(numbers)

[1, 2, 3, 4, 5]

In [243]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [244]:
numbers

(1, 2, 3, 4, 5)

In [245]:
 print(numbers[3])
 print(numbers[-1])

4
5

In [246]:
numbers[0:4]

(1, 2, 3, 4)

In [247]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [248]:
numbers

(1, 2, 3, 4, 5)

In [249]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [250]:
 concatenation_tuple=numbers + mixed_tuple
 print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [251]:
mixed_tuple

(1, 'Hello World', 3.14, True)

In [252]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [253]:
t=1,"gaurav",98
print(t)

(1, 'gaurav', 98)

In [254]:
a,b,c=t
print(a)
print(b)
print(c)

1
gaurav
98

In [255]:
 numbers = (1,2,3,4,5,6)
 first, *middle, last = numbers
 print(first)
 print(middle)
 print(last)

1
[2, 3, 4, 5]
6

In [256]:
 lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
 lst

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

In [257]:
lst[0]

[1, 2, 3, 4]

In [258]:
 lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
 lst

[[1, 2, 3, 4], [6, 7, 8, 9], (1, 'Hello', 3.14, 'c')]

In [259]:
lst[2][0:3]

(1, 'Hello', 3.14)

In [260]:
 nested_tuple = ((1, 1, 2, 3, 2), ("a", "b", "c"), (True, False))
 print(nested_tuple[0])
 print(nested_tuple[1][2])

(1, 1, 2, 3, 2)
c

In [261]:
 for sub_tuple in nested_tuple:
     for item in sub_tuple:
         print(item,end=" ")
     print()

1 1 2 3 2
a b c
True False

#Dictionary

In [262]:
 student={"name":"Sunny", "age":17, "grade":11}
 print(student)
 print(type(student))

{'name': 'Sunny', 'age': 17, 'grade': 11}
<class 'dict'>

In [263]:
 student={"name":"Sunny", "age":17, "name":24}
 print(student)

{'name': 24, 'age': 17}

In [264]:
 student={"name":"Honey","age":32,"grade":'A'}
 print(student)

{'name': 'Honey', 'age': 32, 'grade': 'A'}

In [265]:
 print(student['grade'])
 print(student['age'])

A
32

In [266]:
print(student.get('grade'))

A

In [267]:
print(student.get('last_name'))

None

In [268]:
print(student.get('last_name',"Not Available"))

Not Available

In [269]:
student["age"]=33
print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A'}

In [270]:
 student["address"]="India"
 print(student)

{'name': 'Honey', 'age': 33, 'grade': 'A', 'address': 'India'}

In [271]:
del student['grade']
print(student)

{'name': 'Honey', 'age': 33, 'address': 'India'}

In [272]:
 keys=student.keys()
 print(keys)
 values=student.values()
 print(values)
 items=student.items()
 print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Honey', 33, 'India'])
dict_items([('name', 'Honey'), ('age', 33), ('address', 'India')])

In [273]:
 import copy
 student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
 student_copy = copy.copy(student)
student, student_copy

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [274]:
student['subjects'].append('English')
print(student)
print(student_copy)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}

In [275]:
import copy
student = {'name': 'Honey', 'subjects': ['Math', 'Science']}
student_copy2 = copy.deepcopy(student)
student, student_copy2

({'name': 'Honey', 'subjects': ['Math', 'Science']},
 {'name': 'Honey', 'subjects': ['Math', 'Science']})

In [276]:
 student['subjects'].append('English')
 print(student)
 print(student_copy2)

{'name': 'Honey', 'subjects': ['Math', 'Science', 'English']}
{'name': 'Honey', 'subjects': ['Math', 'Science']}

In [277]:
  for keys in student.keys():
    print(keys)

name
subjects

In [278]:
for value in student.values():
    print(value)

Honey
['Math', 'Science', 'English']

In [279]:
 for key,value in student.items():
    print(f"{key}:{value}")

name:Honey
subjects:['Math', 'Science', 'English']

In [280]:
students={"student1":{"name":"Sunny","age":32},"student2":{"name":"Peter","age":35}}

print(students)

{'student1': {'name': 'Sunny', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [281]:
 print(students["student2"]["name"])
 print(students["student2"]["age"])

Peter
35

In [282]:
students.items()

dict_items([('student1', {'name': 'Sunny', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

#Functions

In [283]:
def evenodd(num):

    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")
evenodd(2)

the number is even

In [284]:
def greet(name):
    print(f"Hello {name} Welcome to the hotel palm")

greet("Gaurav")

Hello Gaurav Welcome to the hotel palm

In [285]:
def print_numbers(*f):
    for number in f:
        print(number)
print_numbers(1,2,3,"king")

1
2
3
king

In [286]:
def print_numbers(*args):
    for i in args:
        print(i)
print_numbers(1,2,3,"King", "Divine")

1
2
3
King
Divine

In [287]:
def sum_of_numbers(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum
sum_of_numbers(1,2,3,4,5,6,7,8,9,0)

45

In [288]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
print_details(name="Ajay",age="32",country="India")

name:Ajay
age:32
country:India

In [289]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")

    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [290]:
print_details(1,2,3,4,"Ajay",name="Ajay",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Ajay
name:Ajay
age:32
country:India

In [291]:
def multiply(a,b):
    return a*b
multiply(2,3)

6

##Lambda Function

In [292]:
 addition=lambda a,b:a+b
 type(addition)
 print(addition(5,6))

11

In [293]:
 even1=lambda num:num%2==0
 even1(12)

True

In [294]:
 def addition(x,y,z):
    return x+y+z
 addition(12,13,14)

39

In [295]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [296]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [297]:
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [298]:
 numbers1=[1,2,3]
 numbers2=[4,5,6]
 added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
 print(added_numbers)

[5, 7, 9]

In [299]:
 str_numbers = ['1', '2', '3', '4', '5']
 int_numbers = list(map(int, str_numbers))
 print(int_numbers)

[1, 2, 3, 4, 5]

In [300]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [301]:
def get_name(person):
    return person['name']
people=[{'name':'Ajay','age':32},{'name':'Jack','age':33} ]
list(map(get_name,people))

['Ajay', 'Jack']

In [302]:
def even(num):
    if num%2==0:
        return True
lst=[1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [303]:
 numbers=[1,2,3,4,5,6,7,8,9]
 greater_than_five=list(filter(lambda x:x>5,numbers))
 print(greater_than_five)

[6, 7, 8, 9]

In [304]:
 numbers=[1,2,3,4,5,6,7,8,9]
 even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
 print(even_and_greater_than_five)

[6, 8]

In [305]:
 numbers=[1,2,3,4,5,6,7,8,9]
 even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
 print(even_and_greater_than_five)

[6, 8]

In [306]:
people=[{'name':'Sunny','age':32}, {'name':'Jack','age':33},{'name':'John','age':25}]
def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'Sunny', 'age': 32}, {'name': 'Jack', 'age': 33}]